$pageBackgroundColor: white;
$highlightCorner: 5px;

.recipePage {
  width: 800px;
  display: grid;
  grid-template-rows: 5vw 25vw auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "banner"
    "picture"
    "info";

  .recipePageBanner {
    background-color: $pageBackgroundColor;
    width: auto;
    height: 50px;
    grid-area: banner;
  }

  .recipePagePicture {
    grid-area: picture;
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }

  .recipePageInfo{
    width: 100%;
    background-color: $pageBackgroundColor;
    grid-area: info;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .recipePageInfoLeft {
      width: auto;
      height: 200px;
    }

    .recipePageInfoRight {
      width: auto;
      height: auto;

      .healthLabelList {
        width: 400px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5px;
        
        > li{
        background-color: rgb(238, 171, 221);
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
        }
      }

      .dietLabels {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;

    
        > li {
          list-style-type: none;
          background-color: rgb(132, 237, 146);
          padding: 0px 5px 0px 5px;
          border-radius: $highlightCorner;
        }
      }

      .cautionList {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;

    
        > li {
          list-style-type: none;
          background-color: rgb(240, 146, 146);
          padding: 0px 5px 0px 5px;
          border-radius: $highlightCorner;
        }
      }
    }
  }
}

